{% extends 'main.html' %}

{% block content %}
    <main class="layout layout--3">
      <div class="container">
        <!-- Topics Start -->
        <div class="topics">
          <div class="topics__header">
            <h2>Search on bodypart trained:</h2>
          </div>
          <ul class="topics__list">
            <li>
              <a href="{% url 'exercise-library' %}" class="active">All exercises</a>
            </li>
            {% for bodypart in bodyparts %}
            <li>
              <a href="{% url 'exercise-library' %}?q={{bodypart.name}}">{{bodypart.name}}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      
        <!-- {% include 'base/topics_component.html' %} -->
        <!-- Topics End -->

        <!-- Room List Start -->
        <div class="roomList">
            <div class="roomListRoom">
                <h1 style="text-align:center;">Welcome to the exercise-library {{request.user.name}}!</h1>
                <p style="text-align:center;">Here you can find all the exercises you could possible think off! Can't find the
                  exact exercise you want or designed a new one? Create your own exercise <a href="{% url 'create-exercise' %}">here</a>!
                </p>
                <br />
                <form class="header__search" method="GET" action="{% url 'exercise-library' %}">
                    <label>
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>search</title>
                        <path
                          d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z"
                        ></path>
                      </svg>
                      <input name="q" placeholder="Search for exercises..." />
                    </label>
                  </form>
                  <nav class="header__menu">

                <br />

                {% for exercise in totalexercises %}
                <div class="card mt-2">
                    <div class="card-header"><strong>{{exercise.name}}</strong></div>
                    <div class="card-body">
                      {% if exercise.image %}
                        <div>
                            <img class="image" src="{{ exercise.image.url }}"><br/>
                        </div>
                        <br />
                        {% endif %}
                        <div>
                          
                            <p>{{exercise.description}}</p>
                        </div>
                        <div>
                            <h3>Body part trained:</h3>
                            <p>{{exercise.bodypart_trained}}</p>
                        </div>
                    </div>
                </div>
                <hr><br />
                {% empty %}
                <div>
                    <h3>Sadly no results for our original exercises have returned... Please check for spelling errors or try single words instead of senctences!</h3>
                </div>
                {% endfor %}
            </div>  
        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        <div>
          
        </div>
        <!-- {% include 'base/activity_component.html' %} -->
        <!-- Activities End -->
      </div>
    </main>

{% endblock %}

