{% extends 'main.html' %}

{% block content %}
    <main class="layout layout--3">
      <div class="container">
        {% include 'base/side_component.html' %}

        <!-- Room List Start -->
        <div class="roomList">
          <!-- Mobile window start -->
          <!-- Look at notations from studybud for modile window code -->
          <!-- Mobile window end -->

          <div class="title">
            <h2>FitnessBuddy</h2>
            <p>What are we training today?</p>
          </div>

          {% include 'base/start_page_component.html' %}
        </div>
        <!-- Room List End -->

        <!-- Activities Start -->
        {% include 'base/goal_component.html' %}
        <!-- Activities End -->
      </div>
    </main>

{% endblock %}
