{% extends 'main.html' %}

{% block content %}
<main class="layout layout--3">
    <div class="container">
        {% include 'base/side_component.html' %}

        <div class="roomListRoom">
            <div style="text-align:center ;">
                <h1 style="font-size:30px ;">Hey, let's start our next workout!</h1>
                <br />
            </div>

            <div style="float: right">
                <h1>Start by giving your workout an awesome name:</h1>

                <form class="header__search" method="POST">
                    {% csrf_token %}
                    <label>
                      <input name="workoutname" placeholder="Workout..." value="{{workout.name}}"/>
                    </label>
                </form>
                <br />
            </div> 

            <div style="float: left">
                <a href="{% url 'home' %}"><h3>CANCEL</h3></a>
            </div> 
        </div>

        <div>
            
        </div>
    </div>
</main>

{% endblock %}